@font-face{
	font-family:'KGRedHans';
	src: url('KGRedHans.tff') format('truetype');
	}

body { 
	background-image: url('../viajes/img/ini.png');
    background-size: cover; 
    background-position: center;
   background-repeat: no-repeat;
   width: 50%;
   height: 100vh;
	}
.top{
	font-family: Verdana;
	font-weight: 900%;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	transform: translateX(350px);
	font-size: 320%;
	color: #1A2A49;
	}
	.top2{
	font-family: Verdana;
	font-weight: 900%;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	transform: translateX(350px);
	font-size: 180%;
	color: #344460;
	}
.b1 {
  align-items: center;
  appearance: none;
  background-color: #192439;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 80px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 300px;
  transform: translateX(930px);
  margin-top: 110px;
}

.b1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateX(930px);
}

.b1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateX(930px);
}

.b1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateX(930px);

}

.b2 {
  align-items: center;
  appearance: none;
  background-color: #192439;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 80px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 300px;
  transform: translateX(930px);
  margin-top: 90px;
}

.b2:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.b2:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  transform: translateX(930px);
}

.b2:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  transform: translateX(930px);
}
footer {
            background-color: #1C273C; 
            color: #fff; 
            padding: 10px 15px;
            text-align: center; 
            position: fixed;
            bottom: 0;
            width: 100%; 
            transform: translateX(-30px);
        }
.p{
	font-family: Verdana;
	font-size: 100%;
	}
.p2{
	font-family: Verdana;
	font-size: 100%;
		}
  .p3{
  font-family: Verdana;
  font-size: 100%;
  }
      


